<ion-view title="Author's stories">
    <ion-content padding="true">			
			<div>
				<h1>Create Storyline</h1>
				<label>name
				<input type="text" ng-model="storyline.name"/>
				</label><br>
				<div id="bacon-div">
					<div ng-repeat="station in storyline.stations" class="new-bacon-data">
						<h2>Station</h2>
						<label>name
						<input type="text" ng-model="station.name"/><br>
						</label>
						<label>description
						<input type="text" ng-model="station.description"/><br>
						</label>
						<label>bacon pick from the map
						<input type="text" ng-model="station.baconid"/><br>
						</label>
						<label>question</label>
						<input type="text" ng-model="station.question"/><br>
						</label>
						<label>answer
						<input type="text" ng-model="station.answer"/><br>
						</label>
						<label>add photo
						<input type="text" ng-model="station.photo"/>
						</label>
					</div>
				</div>
				<button class="button" ng-click="addStation()">Add new station</button>
				<button class="button" ng-click="makeNewStory()">Create new story</button>
			</div>
			<div>
				<h1>Written stories</h1>
				<ul ng-repeat="writtenStoryline in storiesHistory">
					<li>
						{{writtenStoryline.NAME}}
					</li>
				</ul>
			</div>
		</ion-content>
</ion-view> 