<ion-view title="Heroes' stories">
   <ion-content has-header="true" has-footer="true" on-infinite-scroll="loadMore()">			
			<div style="margin-left:auto; margin-right:auto; width:200px">
				<div>
				 <h1>Unfinished stories</h1>
				 <div>
					 <div ng-repeat="unfinStory in unfinishedStories">
						<div class="container">
							{{unfinStory.NAME}}<br>
							{{unfinStory.IMG_SRC}}<br>
							{{unfinStory.DESCRIPTION}}<br>
							{{unfinStory.STORY_NUMBER}}<br>
							{{unfinStory.STORYLINE_NAME}}
							<hr>
						</div>
					 </div>
				 </div>
				</div>
								
				<div>
				 <h1>Stories nearby</h1>
				  <div ng-repeat="nearbyStory in nearbyStories">
					 <div >
						<div class="container">
							{{nearbyStory.NAME}}<br>
							{{nearbyStory.IMG_SRC}}<br>
							{{nearbyStory.DESCRIPTION}}<br>
							{{nearbyStory.STORY_NUMBER}}<br>
							{{nearbyStory.STORYLINE_NAME}}
							<hr>
						</div>
					 </div>
					</div>
				</div>
			</div>
			<ion-infinite-scroll></ion-infinite-scroll>
		</ion-content>
</ion-view> 