<ion-view title="Settings">
    <ion-content padding="true">			
		<h3 style="text-align:center;">Want to logout?</h3>
		<div class="logoutbtn" style="margin:10%;">
		<button class="button button-block button-dark logout" ng-click="logout()">Logout</button>
			</div>
			<h3 style="text-align:center;">Want to change password?</h3>
			<div class="changepasswordbtn" style="margin:10%;">
		<button class="button button-block button-dark password" ng-click="changepassword()">Change password</button>
		</div>
		</ion-content>
</ion-view> 