<ion-view title="Users">
    <ion-content>						
			<div class="list list-inset">
				<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
				</label>
			</div>
			<div id="username" style="text-align:center;">Username:  {{user.name}}</div>
			<div class="userpic" > {{users.IMG_SRC}} </div>
				<style>
				#userpic {background-position:left; padding-left:10px;}
				</style>
			<div>
				<div>
				 <h1>Price to be used</h1>
				 <div>
					<div ng-repeat="prices in prices">
						<div class="container">
							Name of the price: {{prices.NAME}}<br>
							Picture: {{prices.IMG_SRC}}<br>
							DESCRIPTION: {{prices.DESCRIPTION}}<br>
							Price ID: {{prices.ID}}<br>
							STORYLINE_ID: {{prices.STORYLINE_ID}}
							<hr>
						</div>
					 </div>
				 </div>
				</div>
				
				<div>
				 <h1>Completed stories</h1>
				 <div>
					<div ng-repeat="stories in completedStories">
						<div class="container">
							Name of the story: {{stories.NAME}}<br>
							DESCRIPTION: {{stories.DESCRIPTION}}<br>
							Storyline name: {{stories.STORYLINE_NAME}}<br>
							STORYLINE ID: {{stories.STORYLINE_ID}} <br>
							<button ui-sref="storydetails({storylineID: stories.STORYLINE_ID})" class="button button-calm" id="storydetailsbutton">
							Check story details 
						</button>
							<hr>
							
						</div>
					 </div>
				 </div>
				</div>
					
			</div>
	</ion-content>
</ion-view> 


