<ion-view title="Users">
    <ion-content has-header="true" has-footer="true" on-infinite-scroll="loadMore()">			
			<div class="list list-inset">
				<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
				<input type="text" class="usersearch" placeholder="Search" >
				</label>
			</div>
			<div id="username" style="text-align:center;">Username:  {{user.name}}</div>
			<div class="userpic" > {{users.IMG_SRC}} </div>
				<style>
				#userpic {background-position:left; padding-left:10px;}
				</style>
				<div class="list">
				<h1>Prices to be used</h1>
					<div ng-repeat="prices in prices">
						<a class="item item-thumbnail-left">
						<!-- <img src="cover.jpg"> -->
						<h2>Name of the price: {{prices.NAME}}<br>
							DESCRIPTION: {{prices.DESCRIPTION}}<br>
							Price ID: {{prices.ID}}<br>
							STORYLINE_ID: {{prices.STORYLINE_ID}}</h2>
						</a>
					</div>
 

				</div>

				<div class="list">
					<div>
						<h1>Completed stories</h1>
						<div>
							<div ng-repeat="stories in completedStories">
							<a class="item item-thumbnail-left"  ui-sref="storydetails({storylineID: stories.STORYLINE_ID})">
							
								<h2>	Name of the story: {{stories.NAME}}<br>
								DESCRIPTION: {{stories.DESCRIPTION}}<br>
								Storyline name: {{stories.STORYLINE_NAME}}<br>
								STORYLINE ID: {{stories.STORYLINE_ID}} <br>
								</h2>
							</a>
							
							
							</div>
						</div>
					</div>
 
				</div>


					
				
			<ion-infinite-scroll></ion-infinite-scroll>
	</ion-content>
</ion-view> 


